/* Container */
.container {
  height: auto;
  width: 100vw;
  box-sizing: border-box;

  & &--position--relative {
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .container {
    height: auto;
    box-sizing: border-box;
    width: 100vw;

    & &--position--relative {
      position: relative;
    }
  }
}

@media screen and (min-width: 1120px) {
  .container {
    height: 100%;
    width: 100vw;
    //overflow-y: hidden;
    //margin: 0.2em;

    & &--d--flex {
      display: flex;
      flex-direction: row;
    }

    & &--position--relative {
      position: relative;
    }
  }
}
