/* Container */

.main {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .main {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1120px) {
  .main {
    position: absolute;
    left: 300px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    //max-height: 100%;

    margin: 0;
    padding: 0;
  }
}
