/* Order Call */

.order-call {
  width: 320px;
  height: 100%;
  overflow-x: hidden;
  background-color: $bgColor;

  &--shadow-box {
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
      -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  }

  &--transition--in {
    transition: ease 1s;
  }
  &--transition--out {
    transition: ease 2s;
  }

  &--position--absolute {
    position: absolute;
    right: -1000px;
    z-index: 20;
  }

  &--d--flex {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  &__header {
    padding: 1em;
  }

  &__img-link--block {
    display: block;
  }

  &__img {
    transition: filter 0.5s ease-in-out;

    &:hover {
      filter: opacity(50%);
    }
  }

  &__item {
    padding: 0;
  }

  &__vertical-line {
    vertical-align: middle;
    position: absolute;
    left: 0;
    border-right: 4px solid #41f6d7;
    height: 3em;
    border-radius: 0 50% 50% 0;
  }

  &__phone {
    text-align: center;

    &__content {
      border-style: solid;
      border-width: 1px;
      border-color: $borderColor;
      width: 288px;
      height: 48px;
      border-radius: 8px;
      padding-left: 1em;
      transition: filter 0.5s ease-in-out;

      &:hover {
        filter: opacity(50%);
      }

      & ::placeholder {
        color: $placeholder_color;
        font-size: 1rem;
      }
    }
  }

  &__info {
    margin: 1em;
  }
  &__send-btn {
    margin-right: 1.5em;

    &--d--flex {
      display: flex;
      justify-content: end;
    }
  }

  &__btn {
    width: 100%;
    text-decoration: none;
    color: $text_color;
    padding-left: 2.1em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2em;
    position: relative;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &--block {
      display: block;
    }

    &__img {
      width: 136px;
      height: 32px;
      transition: filter 0.5s ease-in-out;

      &:hover {
        filter: opacity(50%);
      }
      &--d--block {
        display: block;
      }
    }
  }
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .order-call {
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $bgColor;

    &--shadow-box {
      box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
        -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    }

    &--transition--in {
      transition: ease 1s;
    }

    &--transition--out {
      transition: ease 2s;
    }

    &--position--absolute {
      position: absolute;
      right: -1000px;
      z-index: 20;
    }

    &--d--flex {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }

    &__header {
      padding: 1.5em;
    }

    &__img-link--block {
      display: block;
    }

    &__img {
      transition: filter 0.5s ease-in-out;

      &:hover {
        filter: opacity(50%);
      }
    }

    &__btn {
      width: 100%;
      text-decoration: none;
      color: $text_color;
      padding-left: 2.1em;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2em;
      position: relative;
      transition: opacity 0.5s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &--block {
        display: block;
      }
    }

    &__vertical-line {
      vertical-align: middle;
      position: absolute;
      left: 0;
      border-right: 4px solid #41f6d7;
      height: 32px;
      border-radius: 0 50% 50% 0;
    }
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .order-call {
    width: 350px;
    height: 100%;
    overflow-y: hidden;
    background-color: $bgColor;

    &--shadow-box {
      box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
        -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    }

    &--transition--in {
      transition: ease 1s;
    }

    &--transition--out {
      transition: ease 2s;
    }

    &--position--absolute {
      position: absolute;
      right: -1000px;
      z-index: 20;
    }

    &--d--flex {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }

    &__header {
      padding: 1.5em;
    }

    &__img-link--block {
      display: block;
    }

    &__img {
      transition: filter 0.5s ease-in-out;

      &:hover {
        filter: opacity(50%);
      }
    }

    &__btn {
      width: 100%;
      text-decoration: none;
      color: $text_color;
      padding-left: 2.1em;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2em;
      position: relative;
      transition: opacity 0.5s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &--block {
        display: block;
      }
    }

    &__vertical-line {
      vertical-align: middle;
      position: absolute;
      left: 0;
      border-right: 4px solid #41f6d7;
      height: 32px;
      border-radius: 0 50% 50% 0;
    }
  }
}
